.splash-screen {
  position: absolute;
  bottom: 0;
  top: 6.5vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
